
@import "./varaibles.scss";

button{
  background-color: $blue2;
  color: $white;
  border-radius: 0.5rem;
  border:0;
  padding: 5px 10px;
  margin-top: 8px;
  margin-bottom: 8px;

  &:hover{
    background-color: $white;
    color: $blue2;
    transition: 250ms ease-in-out
  }
}

.form-switcher{
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.8rem;
  border-radius: 1.2rem;
  margin-bottom: 1rem;
  filter:drop-shadow(0 0 0.5rem  $blue1);
}

.form-side{
    max-height: 100vh;
    overflow:auto;
    text-align: start;
    padding:2rem; 
    background-color: $blue2;
  }
  
.field-group{
  background-color: white;
  // background-color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 1.2rem;
  border-radius: 1.5rem;
  filter:drop-shadow(0 0 0.5rem  $blue1)
}

.form-header{
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.field-section{
  // background: orange;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1.5rem;
  border: 2px dashed $blue2;
}